@import 'https://fonts.googleapis.com/css?family=Boogaloo';

body{
    font-family: Arial, Helvetica, sans-serif
}

.bg {
    width: 109.5%;
    margin-left: -10%;
    position: absolute;
    height: 119.3vh;
    display: flex;
    margin-top: -10%;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: 300% 300%;
    background-image: linear-gradient(
        -45deg, 
        red 0%, 
        orange 25%, 
        peru  51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
  }
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  
.entete{
    text-align: center;
    font-size: 50px;
    position: absolute;
    font-family: 'Boogaloo', sans-serif, cursive;
    margin-top: 2%;
    margin-left: 10%;
}
.word{
    letter-spacing: 10px;
    position: absolute;
    font-family: 'Boogaloo', sans-serif, cursive;
    margin-bottom: 50%;
}

.menu{
    font-size: 50px;
    text-align: center;
    font-family: 'Boogaloo', sans-serif, cursive;
    flex: 1;
    position: absolute;
    display: inline-block;
    margin-top: 12%;
    margin-left: 10%;
}

.contenu{
    font-size: 50px;
    font-family: 'Boogaloo', sans-serif, cursive;
    text-align: center;
    position: absolute;
    width: 50%;
    margin-left: 50%;
    
}
.button{
    border: 2px solid rgb(0, 0, 0);
    width: 45%;
    font-family: 'Boogaloo', sans-serif, cursive;
    border-radius: 20px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    margin-top: 10%;
    display: block;
    margin:auto;
}
.button2{
    border: 2px solid rgb(0, 0, 0);
    width: 45%;
    font-family: 'Boogaloo', sans-serif, cursive;
    border-radius: 20px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    margin-top: 10%;
    display: block;
    margin:auto;

}

.position{
    margin-top: 35%;
    margin-left: 4%;
    position: absolute;
    width: 90%;
}

.position2{
    margin-top: 40%;
    position: absolute;
    width: 90%;
    margin-left: 4%;
}