body{
    background-color: rgb(124, 35, 53);
    margin: auto 10px;
    width: auto;
    height: auto;
}

h1 {
    text-align: center;
    color: white;
    font-size: 130px;
}

#replay{  
    font-size: 45px;
    border: 2px solid rgb(37, 34, 34);
    border-radius: 800px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-right: 90px;
    padding-left: 90px;
    text-align: center;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div {
    color: white;
    font-size: 27px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto;
}
