<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/accueil.css" />

    <title>HANGMAN</title>

</head>

<body>

    <p class="bg"></p>
    <h1>
       HANGMAN
    </h1>
   <img src="css/hangman.png" class="fond">
    <div>
        <form action="/choix" method="post">
            <input id= "pseudo" required type="text" name="nom_utilisateur" placeholder="Entrez votre nom">
            <br>
            <div class = "niveaux">
                <input class="replay" type="submit" value="FACILE" name="w">
                <input class="replay2" type="submit" value="NORMAL" name="w">
                <input class="replay3" type="submit" value="DIFFICILE" name="w">
            </div>
        </form>
    </div>

</body>

</html>