<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/loose.css" />

    <title>HANGMAN</title>

</head>

<body>
    <h1> Tu as perdu ! </h1>
    <div>
        <p>
            Le mot était : {{ .Word }}
        </p>
    </div>
    <form action="/" method="post">
        <input id = "replay" type="submit" value="Play Again">
    </form>

</body>

</html>
